<!DOCTYPE html>
<html lang="de" layout:decorate="~{layout/layout :: layout(title='Upload')}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<div layout:fragment="content">
    <div th:if="${output == null}">
        <h1><i class="fas fa-upload"></i> Upload File</h1>
        <form action="#" class="mt-4" enctype="multipart/form-data" method="post" th:action="@{/upload}">
            <div class="form-group">
                <label class="form-label" for="fileInput">Select PDF file</label>
                <input accept="application/pdf" class="form-control form-control-lg" id="fileInput" name="fileInput"
                       onchange="previewFile()" type="file">
            </div>
            <div class="form-check">
                <input class="form-check-input" id="consentCheck" name="consentCheck" required
                       type="checkbox">
                <label class="form-check-label" for="consentCheck">Ich stimme dem Verarbeiten der Daten zu.</label>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Upload</button>
        </form>
        <div class="d-none ratio ratio-16x9" id="previewContainer">
            <embed id="filePreview" type="application/pdf">
        </div>
        <script th:src="@{/js/upload/preview.js}"></script>
    </div>

    <div th:if="${output != null}">
        <h1>Converted File</h1>

        <div>
            <!--https://github.com/pgrabovets/json-view/-->
            <script th:src="@{/js/libs/jsonview.js}"></script>
            <div class="tree"></div>
            <script th:inline="javascript">
                const data = [[${output}]];
                // create json tree object
                const tree = jsonview.create(data);

                // render tree into dom element
                jsonview.render(tree, document.querySelector('.tree'));
            </script>
        </div>
    </div>
</div>
</body>
</html>